runningOptions:phylogeny reconstruction
inputFile:{taxa_list_path}
SpeciesDescendants:No
Filter_SubSp:on
Merge_Subsp:off
Filter_Hybrids:on
Filter_Unresolved:on
NameResType:MatchedNames
NR_DB_name:NCBI
OriginJobID:None
OriginJobDir:
Outgroup_Flag:Single
include_Nuc:on
include_Mt:on
include_CP:on
ClusteringMethod:Ortho
orthoSeq_Ratio:0.5
Ortho_Inflation:1.5
BC_percentIdentity:1.7
BC_CoverageLength:0.9
MSA_Software:MAFFT
MAFFT_maxiterate:0
PairwiseAlignmentMethod:MAFFT_6mer
FilterMSA_Method:None
Guidance_RowCol:Both
Trimal_CutOff:0.01
gb_SmallerBlocks:true
gb_AllowGaps:true
gb_LessStrictFlanking:true
Tree_Method:RAxML
User_MrBayes_Model:None
clock_model:Unconstrained
relaxed_branch_option:uniform
ngen:100000
samplefreq:500
nchains:4
burninFrac:0.25
checkFreq:100000
User_RAxML_Model:GTRCAT
Use_BootS_RxOn:Off
Raxml_BootS_vals:100
User_ExaML_Model:GAMMA
Use_BootS_ExOn:Off
Examl_BootS_vals:100
Tree_Type:ConcatTree
ConstraintNewick:
fileCT:
UltraMetricFlag:Yes
NodeDateMethod:treepl
NodeDateInputFile:
file:
inputEmail:
jobTitle:{job_name}
Submit:   Submit
date:11/20/2022, 1:37:44 PM
